In [21]:
import phe as paillier
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import sklearn as sk
from sklearn.cluster import KMeans

In [22]:
pubkey, privkey = paillier.generate_paillier_keypair(n_length=1024)
df = pd.read_csv('online_retail.csv')
df.convert_objects(convert_numeric=True)
df.fillna(0, inplace=True)
df.head()

/home/lee/dev/school_project/src/oracle/ml_module/lib/python3.5/site-packages/ipykernel_launcher.py:3: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  This is separate from the ipykernel package so we can avoid doing imports until

,StockCode,Description,Quantity,UnitPrice,CustomerID
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0
1,71053,WHITE METAL LANTERN,6,3.39,17850.0
2,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0

In [23]:
def handle_non_numeric_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            
            x = 0
            
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x += 1
            
            df[column] = list(map(convert_to_int, df[column]))
            
    return df

df = handle_non_numeric_data(df)
df.head()

   StockCode  Description  Quantity  UnitPrice  CustomerID
0       1003          151         6       2.55     17850.0
1        877          204         6       3.39     17850.0
2        624          888         8       2.75     17850.0
3        327          125         6       3.39     17850.0
4         65          328         6       3.39     17850.0

In [24]:
for index, row in df.iterrows():
#     temp = df[x].values.tolist()
#     temp = [pubkey.encrypt(x) for x in temp]
#     print (temp[0].ciphertext())
    for column in df.columns:
        pubkey.encrypt(row[column])
df.head()

   StockCode  Description  Quantity  UnitPrice  CustomerID
0       1003          151         6       2.55     17850.0
1        877          204         6       3.39     17850.0
2        624          888         8       2.75     17850.0
3        327          125         6       3.39     17850.0
4         65          328         6       3.39     17850.0